@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --main-color : #000000;
    --background-color : #7D3C98;
    --hover-color: #FF007F;
    --text-color: #4B0082;
    --container-color: #2980B9;
    --info-color: #4D09F8;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#111515;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.navigation{
    display: block;
    top: 0;
}

.navigation h1 {
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: 40px;
    background: var(--main-color);
    padding-top: 1px;
    height: 100%;
    width: 100%;
}

/* .content {
    background: #4D09F8;
} */

/* Reading Content */

.info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #4D09F8;
}

.content-details {
    text-align: center;
}

.content-details h2{
    background-color: #4D09F8;
    color: red;
    font-size: 25px;
}

.content-details p{
    background-color: #4D09F8;
    color: aqua;
    font-size: 15px;
    padding: 5px 0;
}

/* Chapters */
.total-chapter {
    border: 3px solid black;
    border-radius: 18px;
    background-color: cyan;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
}

.chapter-box {
    color: rgb(0, 0, 0);
    margin: 10px 20px;
    padding: 20px 20px;
    border-radius: 25px;
    background: #00FF7F;
}

.chapter-box:hover {
    cursor: pointer;
}

.chapter-box a {
    text-decoration: none;
    color: black;
}

.chapter-box h2 {
    text-align: center;
    font-weight: 800;
    background: #00FF7F;
}

.chapter-box p {
    text-align: center;
    font-weight: 700;
    background: #00FF7F;
}